
section{
  text-align: center;
}
#section2{
 background-color: rgb(153, 151, 151);
}

img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black;

}

.myselfimg{
    margin-top: 20px;
}