body{
    background-color: rgb(202, 194, 194);
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}
li{
    font-size: 22px;
    font-style: italic;
}
ol{
    font-size:  22px  ;
    font-style: italic;
}
section{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}